name: Main workflow

on:
  push:
    branches: [master, main]
  pull_request:
    branches: [master, main]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        emacs_version:
          - '27.2'
          - '28.2'
          - '29.4'
          - 'snapshot'

    steps:
      - uses: actions/checkout@v4

      - uses: purcell/setup-emacs@master
        with:
          version: ${{ matrix.emacs_version }}

      - uses: conao3/setup-cask@master

      - name: Install dependencies
        run: cask install

      - name: Run tests
        run: make test
        continue-on-error: ${{ matrix.emacs_version == 'snapshot' }}
